<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appmagazine.nardoon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/baby"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Filter"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".activities.Categorys"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".activities.Locations"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".activities.subs"
            android:theme="@style/Theme.AppCompat"
        />
        <activity
            android:name=".activities.Call"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity android:name=".activities.Details" />
        <activity
            android:name=".activities.SubCat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubCatAgahis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.New"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.MyAgahis"></activity>
        <activity android:name="com.android.camera.CropImage" />

    </application>

</manifest>